<ion-view hide-nav-bar="true" hide-tabs>
    <ion-header-bar align-title="left">
        <div class="buttons">
            <button class="button button-icon ion-ios-close-empty" ng-click="goBack()">  Photo</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <a class="button" ng-click="confimPost()">Next</a>
        </div>
    </ion-header-bar>
    <ion-content class="has-header has-footer" overflow-scroll="false">
        <div ng-if="tabs.gallery">
            <h1>THIS IS GALLERY</h1>
        </div>
        <div ng-if="tabs.photo">
            <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
            <img ng-show="imgURI === undefined" ng-src="http://placehold.it/350x350">
            <button class="button" ng-click="takePicture()">Take Picture</button>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="tabs tabs-light">
            <a class="tab-item" ng-class="{active: tabs.gallery == true }" ng-click="gallery()">
                Gallery
            </a>
            <a class="tab-item" ng-class="{active: tabs.photo == true }" ng-click="photo()">
                Photo
            </a>
        </div>
    </ion-footer-bar>
</ion-view>
