<ion-view>
    <ion-nav-title>
        <h4>{{profile.name}}</h4>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button button-clear icon ion-android-person-add" href="#/tab/discover"></a>
        <a class="button button-clear icon ion-android-more-vertical" href="#/tab/options" style="width:2rem"></a>
    </ion-nav-buttons>
    <ion-content ng-init="showGrid()" class="has-header" overflow-scroll="false">
        <div class="row">
            <div class="col col-33 item-avatar profile-avatar">
                <img ng-src="{{profile.avatar}}" />
            </div>
            <div class="col col-66 center">
                <div class="row">
                    <div class="col col-33">
                        <b>{{profile.posts}}</b><br />
                        <p>posts</p>
                    </div>
                    <div class="col col-33">
                        <b>{{profile.followers}}</b><br />
                        <p>followers</p>
                    </div>
                    <div class="col col-33">
                        <b>{{profile.following}}</b><br />
                        <p>following</p>
                    </div>
                </div>
                <div class="row">
                    <a class="button bar-stable edit-button full-width" href="#/tab/edit">
                        EDIT YOUR PROFILE
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px;">
            <b>{{profile.nickname}}</b>
        </div>
        <hr />
        <ti-segmented-control on-select="buttonClicked($index)" class="full-width">
            <ti-segmented-control-button ng-click="abc=grid;showGrid()" class="button-positive icon ion-grid" selected></ti-segmented-control-button>
            <ti-segmented-control-button ng-click="abc=row;showRow()" class="button-positive icon ion-navicon"></ti-segmented-control-button>
            <ti-segmented-control-button ng-click="abc=place;showPlace()" class="button-positive icon ion-location"></ti-segmented-control-button>
            <ti-segmented-control-button ng-click="abc=tags;showTag()" class="button-positive icon ion-ios-pricetags"></ti-segmented-control-button>
        </ti-segmented-control>
        <div ng-switch on="abc" overflow-scroll="false">
            <div ng-switch-default>
                <div class="row" ng-repeat="image in content" ng-if="$index % 3 === 0">
                    <div class="col col-33" ng-if="$index < content.length">
                        <img ng-src="{{images[$index].src}}" width="100%" />
                    </div>
                    <div class="col col-33" ng-if="$index + 1 < content.length">
                        <img ng-src="{{images[$index + 1].src}}" width="100%" />
                    </div>
                    <div class="col col-33" ng-if="$index + 2 < content.length">
                        <img ng-src="{{images[$index + 2].src}}" width="100%" />
                    </div>
                </div>
            </div>
            <div ng-switch-when="row">
                <div ng-repeat="image in content">
                    <div class="list card">
                        <div class="row item-button-right">
                            <a href="#">
                                <h4 class="item item-name">Duck</h4>
                            </a>
                            <button class="button button-icon icon ion-android-more-vertical"></button>
                        </div>
                        <div class="item item-image">
                            <img ng-src="{{content[$index].src}}" alt="">
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" href="#">
                                <i class="icon ion-thumbsup"></i>
                            </a>
                            <a class="tab-item" href="#">
                                <i class="icon ion-chatbox"></i>
                            </a>
                            <a class="tab-item" href="#">
                                <i class="icon ion-share"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>