<ion-view hide-nav-bar="true">
    <div class="bar bar-header">
        <ti-segmented-control on-select="buttonClicked($index)" class="full-width">
            <ti-segmented-control-button ng-click="showFollowing()" class="button-positive" title="'FOLLOWING'"></ti-segmented-control-button>
            <ti-segmented-control-button ng-click="showYou()" class="button-positive" title="'YOU'" selected></ti-segmented-control-button>
        </ti-segmented-control>
    </div>

    <ion-content has-header overflow-scroll="false">

    </ion-content>
</ion-view>